# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True

# Database
DATABASE_PATH=app/database/c_money.db

# Espaço para configs futuras

# Produção
FRONTEND_URL=http://localhost:5173
DATABASE_URL=postgresql://usuario:senha@host:5432/c_money
